section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 3rem;
  }
  
  #weather-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #weather-icon img {
    max-width: 100%;
    height: auto;
  }
  
